<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Home Page</title>
</head>
<style>
body
{
background-image:url('thyroid.jpg');
background-repeat:no-predict;
background-attachment:fixed;
background-size:100%100%;
}
</style>
<body>
<h1 style="text-align:center;">Thyroid Disease Classification</h1>
<p style="color:Tomato;"><b> The tow types of thyroid disorders are Hyperthyroidism and hypothyroidism.When this disorder occurs
in the body,they release certain  type of hormones into the body which imbalance the body's metabolism.Machine Learning plays a very deciding role
in the disease prediction.</b>
</p>
<form action="/getdata" method"post">
      <button type="Home">Home</button>
      <button type="Predict">Predict</button>
</form>
</body>
</html>