<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Submit Page</title>
</head>
<style>
    body
    {
    background-image:url('thyroid.jpg');
    background-repeat:no-repeat;
    background-attachment:fixed;
    background-size:100%100%;
    }
</style>
<body>
<h1 style="text-align:center;">Thyroid Disease Classification</h1>
<p style="color:Tomato;"><b>Based on the given input,it predicts
    thyroid disease for your body conditions is['miscellanous'].</b>
</p>

</body>
</html>